PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
	id INTEGER NOT NULL, 
	email VARCHAR(255) NOT NULL, 
	name VARCHAR(255), 
	role VARCHAR(50) NOT NULL, 
	password_hash VARCHAR(255), 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, company_name VARCHAR(255), contact_name VARCHAR(255), contact_phone VARCHAR(50), machine_models TEXT DEFAULT '[]', 
	PRIMARY KEY (id)
);
INSERT INTO users VALUES(1,'admin@example.com','Administrator','ADMIN','$2b$12$9O6ixUGzGMP97nvCz1GZyuw0g1I3EcEogJJA1ULfkrynvD3dyDw8.','2025-11-11 19:52:50.269886','2025-11-11 19:52:50.269889',NULL,NULL,NULL,'[]');
INSERT INTO users VALUES(3,'ethan@gmail.com','ethan','ADMIN','$2b$12$PkcCDTB0zwlU/HHTyka3AeRPYae2FkC5lkC0ojObzCi3HSBGT/EtC','2025-11-12 17:01:43.324392','2025-11-12 18:26:17.549509',NULL,NULL,NULL,'[]');
INSERT INTO users VALUES(4,'test@gmail.com','test','TECHNICIAN','$2b$12$GfiCMOkNm1UlSGXAmExt3eg.6EWzbZpgC2s9JINmN1TGrdLmq1YCy','2025-11-12 18:32:14.093820','2025-11-12 18:32:14.093823',NULL,NULL,NULL,'[]');
CREATE TABLE query_history (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	query_text TEXT NOT NULL, 
	answer_text TEXT, 
	response_time_ms INTEGER, 
	metadata JSON, 
	created_at DATETIME NOT NULL, machine_name VARCHAR(255), token_input INTEGER, token_output INTEGER, token_total INTEGER, cost_usd REAL, sources_json TEXT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);
CREATE TABLE saved_responses (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	query_text TEXT NOT NULL, 
	answer_text TEXT NOT NULL, 
	sources JSON, 
	created_at DATETIME NOT NULL, 
	updated_at DATETIME NOT NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT uq_saved_response_user_query UNIQUE (user_id, query_text), 
	FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);
CREATE TABLE feedback (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	query_history_id INTEGER NOT NULL, 
	is_helpful BOOLEAN NOT NULL, 
	confidence FLOAT, 
	intent_type VARCHAR(100), 
	created_at DATETIME NOT NULL, updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
	FOREIGN KEY(query_history_id) REFERENCES query_history (id) ON DELETE CASCADE
);
INSERT INTO feedback VALUES(1,6,2,1,0.5399727319553871973,'definition','2025-11-12 18:54:33.481930',NULL);
INSERT INTO feedback VALUES(2,6,2,0,0.5399727319553871973,'definition','2025-11-12 18:54:38.367069',NULL);
INSERT INTO feedback VALUES(3,6,3,1,0.996785714285714386,'lookup','2025-11-13 19:26:52.424778',NULL);
CREATE TABLE audit_logs (
	id INTEGER NOT NULL, 
	timestamp DATETIME NOT NULL, 
	level VARCHAR(20) NOT NULL, 
	event VARCHAR(100) NOT NULL, 
	user_id VARCHAR(255), 
	role VARCHAR(50), 
	ip_address VARCHAR(45), 
	metadata JSON, 
	request_id VARCHAR(255), 
	PRIMARY KEY (id)
);
INSERT INTO audit_logs VALUES(1,'2025-11-14 20:12:30.553745','warning','user_login_failed','ethan@gmail.com',NULL,'172.18.0.3','{"reason": "invalid_credentials"}','2c6c360f-d7ff-4c76-9f89-8a30fb545f55');
INSERT INTO audit_logs VALUES(2,'2025-11-14 20:12:33.826902','info','user_login','ethan@gmail.com','ADMIN','172.18.0.3','{"user_id": "3"}','89411de5-53bb-4f71-817f-a3177b50486b');
INSERT INTO audit_logs VALUES(3,'2025-11-14 20:12:37.762898','info','user_login','ethan@gmail.com','ADMIN','172.18.0.3','{"user_id": "3"}','a699bbee-ae4f-4d14-bb38-715d11667e5c');
CREATE TABLE alembic_version (
	version_num VARCHAR(32) NOT NULL, 
	CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);
INSERT INTO alembic_version VALUES('003_ingestion_phase1');
CREATE TABLE machine_models (
	id INTEGER NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	updated_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name), 
	UNIQUE (name)
);
INSERT INTO machine_models VALUES(1,'2800 Series Mini Laser Pro','2025-11-18 16:27:40','2025-11-18 16:27:40');
INSERT INTO machine_models VALUES(2,'Duraflex','2025-11-18 16:27:40','2025-11-18 16:27:40');
INSERT INTO machine_models VALUES(3,'Anycut','2025-11-18 16:27:40','2025-11-18 16:27:40');
CREATE TABLE document_ingestion_metadata (
	id VARCHAR(36) NOT NULL, 
	filename VARCHAR(500) NOT NULL, 
	machine_model VARCHAR(255) NOT NULL, 
	status VARCHAR(50) DEFAULT 'PENDING_INGESTION' NOT NULL, 
	description TEXT, 
	file_path VARCHAR(1000), 
	file_size_bytes INTEGER, 
	error_message TEXT, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	updated_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (id)
);
INSERT INTO document_ingestion_metadata VALUES('186f5200-bd7d-4b4a-83ef-7e2776e4ea4d','2800 Series Mini Laser Pro User Manual Draft.pdf','2800 Series Mini Laser Pro','COMPLETE',NULL,'data/original_pdfs_test/2800 Series Mini Laser Pro User Manual Draft.pdf',3667730,NULL,'2025-11-18 19:44:19.834414','2025-11-18 19:48:29.774923');
INSERT INTO document_ingestion_metadata VALUES('c5588493-3d7f-486f-b52c-d237960ba4d0','Arrow Any-002 Manual.pdf','UNKNOWN','COMPLETE',NULL,'data/Arrow Any-002 Manual.pdf',6502484,NULL,'2025-11-18 20:28:00.604491','2025-11-18 20:28:00.604494');
INSERT INTO document_ingestion_metadata VALUES('a0835433-d458-4d05-9a46-a52e4866a228','print_quality_artefacts_reference_guide.pdf','GENERAL','COMPLETE',NULL,'data/print_quality_artefacts_reference_guide.pdf',8305658,NULL,'2025-11-18 20:28:00.800413','2025-11-18 20:28:00.800416');
CREATE INDEX ix_users_id ON users (id);
CREATE UNIQUE INDEX ix_users_email ON users (email);
CREATE INDEX ix_query_history_id ON query_history (id);
CREATE INDEX ix_query_history_created_at ON query_history (created_at);
CREATE INDEX ix_query_history_user_id ON query_history (user_id);
CREATE INDEX ix_saved_responses_id ON saved_responses (id);
CREATE INDEX ix_saved_responses_user_id ON saved_responses (user_id);
CREATE INDEX ix_feedback_user_id ON feedback (user_id);
CREATE INDEX ix_feedback_query_history_id ON feedback (query_history_id);
CREATE INDEX ix_feedback_id ON feedback (id);
CREATE INDEX idx_audit_logs_event ON audit_logs (event);
CREATE INDEX ix_audit_logs_timestamp ON audit_logs (timestamp);
CREATE INDEX idx_audit_logs_timestamp ON audit_logs (timestamp);
CREATE INDEX ix_audit_logs_event ON audit_logs (event);
CREATE INDEX idx_audit_logs_user_id ON audit_logs (user_id);
CREATE INDEX ix_audit_logs_user_id ON audit_logs (user_id);
CREATE INDEX ix_audit_logs_id ON audit_logs (id);
CREATE INDEX ix_machine_models_id ON machine_models (id);
CREATE UNIQUE INDEX ix_machine_models_name ON machine_models (name);
CREATE UNIQUE INDEX ix_document_ingestion_metadata_id ON document_ingestion_metadata (id);
CREATE INDEX ix_document_ingestion_metadata_filename ON document_ingestion_metadata (filename);
CREATE INDEX ix_document_ingestion_metadata_status ON document_ingestion_metadata (status);
CREATE INDEX ix_document_ingestion_metadata_machine_model ON document_ingestion_metadata (machine_model);
CREATE INDEX ix_document_ingestion_metadata_created_at ON document_ingestion_metadata (created_at);
COMMIT;
